# ===== Java (keep if needed) =====
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
python_data_analytics/.cache/
python_data_analytics/.cache/pip/
python_data_analytics/.cache/jedi/

# Virtual environments
venv/
.venv/
env/

# Site packages / installed libs
lib/
site-packages/

# Jupyter
.ipython/
.jupyter/
.local/
.ipynb_checkpoints/

# pgadmin / sql environment
sql/pgadmin4/

capstone/data/*.csv
capstone/data/*.pkl
capstone/data/*.csv
capstone/data/*.pkl
